@font-face {
    font-family: RussianPunk;
    src: url('../fonts/RussianPunk.ttf');
}

@font-face {
    font-family: mr_HangingLettersG;
    src: url('../fonts/mr_HangingLettersG.otf');
}

@font-face {
    font-family: MateSC-Regular;
    src: url('../fonts/MateSC-Regular.ttf');
}

@font-face {
    font-family: TrainOne-Regular;
    src: url('../fonts/TrainOne-Regular.ttf');
}

@font-face {
    font-family: RubikMonoOne-Regular;
    src: url('../fonts/RubikMonoOne-Regular.ttf');
}

@font-face {
    font-family: Neucha-Regular;
    src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
    font-family: mr_AkronimG;
    src: url('../fonts/mr_AkronimG.otf');
}

